<h1>This is new link page</h1>

<%= form_for @link do |f| %>
  <div>
    <%= f.label :original  %>
    <%= f.text_field :original  %>
  </div>

  <div>
    <%= f.label :shorten  %>
    <%= f.text_field :shorten  %>
  </div>

  <div>
    <%= f.submit "shorten!"  %>
  </div>
<% end %>
