<%= render "layouts/header"  %>
<div class="container">
  <div class="page-header">
    <h1>새 링크 등록하기</h1>
  </div>

  <% if @link.errors.any? %>
    <% @link.errors.full_messages.each do |msg| %>
      <ul>
        <li><%= msg  %></li>
      </ul>
    <% end %>
  <% end %>

  <%= form_for @link do |f| %>
    <div class="input-group">
      <span class="input-group-addon">Original Link</span>
      <%= f.text_field :original, class: "form-control", placeholder: "http://ansuchan.com" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Shorten Link</span>
      <%= f.text_field :shorten, class: "form-control", placeholder: "http://ansuchan.com" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Title</span>
      <%= f.text_field :title, class: "form-control", placeholder: "제 개인 홈페이지입니다." %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Public</span>
      <%= f.select :public, options_for_select([true, false]) %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Authenticate Key</span>
      <%= f.password_field :authenticate, class: "form-control", placeholder: "Authentication Key" %>
    </div>

    <div>
      <%= f.submit "줄여라 찬찬찬!", class: "btn btn-primary btn-lg pull-right"  %>
    </div>
  <% end %>
</div>
<%= render "layouts/footer"  %>
